.container {
	width: 86%; 
  margin: 0 auto;
  @include breakpoint(bp3) { width: 980px; } }

 // Change order of elements at certain breakpoints
.pull-right-above-bp1 { @include breakpoint(bp1) { float: right; } } 
.pull-right-above-bp2 { @include breakpoint(bp2) { float: right; } } 
.pull-right-above-bp3 { @include breakpoint(bp3) { float: right; } }

.main { margin-bottom: $base-spacing-unit*3; }