.accordion {
	border-bottom: 1px solid $lighter-gray; }

.accordion-view {
	margin-bottom: 20px;
	font-size: $font-size-smaller; }

.accordion-expand,
.accordion-collapse {
	color: $main-red;
  cursor: pointer; }

.accordion-list {
	margin: 0;
	padding: 0;
	li {
		margin-left: 20px; } } 

.accordion-header {	
  padding: 12px 15px;
  border-top: 1px solid $lighter-gray; 
  background: $super-light-gray;  
  font-weight: 700;
  color: $main-red;
  cursor: pointer;
  &:hover {
  	color: $text-color;	} }

.accordion-number {
 	float: left;
 	margin-right: 10px; }

.accordion-header-text {
	overflow: hidden; }

.accordion-content { 
  padding: 20px 15px 10px;
  border-top: 1px solid $lighter-gray; }

.visually-hidden { 
/* More accessible way to hide content. 
   Read more here: http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; }