.accordion {
	border-bottom: 1px solid $lighter-gray; }

.accordion-view {
	margin-bottom: 20px;
	font-size: $font-size-smaller; }

.accordion-expand,
.accordion-collapse {
	color: $main-red;
  cursor: pointer; }

.accordion-list {
	margin: 0;
	padding: 0;
	li {
		margin-left: 20px; } } 

.accordion-header {	
  padding: 12px 15px;
  border-top: 1px solid $lighter-gray; 
  background: $super-light-gray;  
  font-weight: 700;
  color: $main-red;
  cursor: pointer;
  &:hover {
  	color: $text-color;	} }

 .accordion-number {
 	float: left;
 	margin-right: 10px; }

.accordion-header-text {
	overflow: hidden; }

.accordion-content { 
  display: none;
  padding: 20px 15px 10px;
  border-top: 1px solid $lighter-gray; }

.show-accordion { display: block; }
.hide-accordion { display: none; }