// Colors 
$main-red		 			: #aa0000;
$bright-red       : #bb0000;
$brighter-red     : #cc0000;
$tan      				: #f8f4e1;
$gold							: #bf9d3e;

// Grayscale 
$super-light-gray : #f4f4f4;
$lightest-gray    : #f0f0f0;
$lighter-gray-alt : #bebebe;
$lighter-gray    	: #cacaca;
$light-gray-alt   : #dfdfdf;
$light-gray    		: #e7e7e7;
$mid-gray     		: #666666;
$mid-gray-alt     : #555555;
$dark-gray        : #333333; 

// Social Media Colors
$facebook-blue    : #3b5998;
$twitter-blue     : #00aced;
$linkedin-blue    : #007bb6;
$flickr-blue      : #0063dc;
$youtube-red      : #bb0000;

// Colors In Use 
$text-color       : $dark-gray;
$link-color       : $main-red;

// Classes
.red { color: $main-red; }