.form-section {
	padding: 0;
	list-style-type: none; }

.form-line {
	margin-bottom: 12px; }

.form-label-top { 
	font-weight: 700;
	line-height: $line-height-highest; }

.form-label-left {
	font-weight: 700;
	float: left; }

.form-sub-label {
	display: block;
	font-size: $font-size-smallest; }

// Pledge Form Styles
.pledge-form #id_4 {
	float: left;
	margin-right: 20px; }

.pledge-form #id_6 {
	clear: both;
	float: left;
	margin-right: 20px; }

.pledge-form #id_8 {
	clear: both; }
