.form-section {
	padding: 0;
	margin: 0;
	list-style-type: none; }

.form-line {
	margin-bottom: 12px; }

.form-label-top { 
	font-weight: 700;
	line-height: $line-height-highest; }

.form-sub-label {
	display: block;
	font-size: $font-size-smallest; }

// Pledge Form Styles
.pledge-form {
	background: $light-gray;
	padding: 20px 30px; }

.pledge-form input[type="text"],
.pledge-form input[type="email"],
.pledge-form textarea, 
.pledge-form select {
	padding-left: 4px;
	border: 1px solid $lighter-gray; }

.pledge-form input[type="text"],
.pledge-form input[type="email"] {
	height: 28px; }

.pledge-form select {
	min-height: 28px; }

.pledge-form .form-address-table select { 
	width: 144px; }

.pledge-form #id_4 {
	float: left;
	margin-right: 20px; }

.pledge-form #id_6 {
	clear: both;
	float: left;
	margin-right: 15px; }

.pledge-form #id_8 {
	clear: both;
	float: left;
	width: 310px;
	margin-right: 40px; }

.pledge-form #id_8 .form-sub-label {
	margin: 1px 0 6px; }

.pledge-form .form-address-line {
	width: 310px; }

.pledge-form .form-address-city,
.pledge-form .form-address-state {
	width: 144px; }

.pledge-form .form-address-postal {
	width: 95px; } 

.pledge-form .form-address-city {
	margin-right: 22px; }

.pledge-form #id_9 {
	float: left; }

.pledge-form #input_9,  
.pledge-form #input_25 { 
	width: 310px; }

.pledge-form #id_25 {
	float: left; }

.pledge-form #id_11 {
	clear: both; }

.pledge-form #id_11,
.pledge-form #id_19 {
	margin-top: 25px;
	padding-top: 15px;
	border-top: 1px solid $lighter-gray; }

.pledge-form #id_23 { 
	margin-top: 37px; }

.pledge-form #label_23 {
	float: left;
	padding-top: 3px;
	margin-right: 6px; }

.pledge-form #id_13 { 
	float: left; }

.pledge-form #id_13 select {
	position: relative;
	z-index: 500; }

.pledge-form #id_14 { 
	position: relative;
	left: -75px;
	margin-top: 37px; }

.pledge-form #label_14 {
	float: left;
	padding-top: 3px;
	margin-right: 6px; }

.pledge-form #id_22 { 
	clear: both; }

.pledge-form #cid_22:before, 
.pledge-form #cid_24:before {
  	content: '\0024'; }

.pledge-form #cid_22:after, 
.pledge-form #cid_24:after {
  	content: '.00'; }

.pledge-form .form-list option:nth-child(2n+1){
	background: $super-light-gray; }

.pledge-form #cid_16 .form-sub-label { 
	padding-left: 4px;
	margin-top: 3px;
	margin-bottom: 10px; }

.pledge-form .form-submit-button {
	position: relative;
	margin-top: 15px;
	padding: .25em 1em .35em; 
	background: $main-red; 
	color: white;
	border: none;
	line-height: $line-height-low;		
	font-size: $font-size-main;	
	font-weight: 700;
	@include border-radius(5px);
	@include box-shadow($lighter-gray-alt 2px 2px 0);
	&:hover {
		background: lighten($main-red, 5%);
		color: white; }
	&:active {
		bottom: -2px;
		right: -2px;
		outline: 0 !important;
		// Hide box shadow on click to create "depressed" look
		@include box-shadow(white 0 0 0);
	&:focus, &:visited {
		outline: 0 !important; } } }	

.pledge-form button {
	outline: 0 !important; }