.form-section {
	padding: 0;
	margin: 0;
	list-style-type: none; }

.form-line {
	margin-bottom: 12px; }

.form-label-top { 
	font-weight: 700;
	line-height: $line-height-highest; }

.form-sub-label {
	display: block;
	font-size: $font-size-smallest; }

// Pledge Form Styles
.pledge-form {
	background: $light-gray;
	padding: 20px 30px; }

.pledge-form input[type="text"],
.pledge-form input[type="email"],
.pledge-form textarea, 
.pledge-form select {
	padding-left: 5px;
	border: 1px solid $lighter-gray; }

.pledge-form input[type="text"],
.pledge-form input[type="email"] {
	height: 28px; }

.pledge-form select {
	min-height: 28px; }

.pledge-form .form-address-table select { 
	width: 150px; }

.pledge-form #id_4 {
	float: left;
	margin-right: 20px; }

.pledge-form #id_6 {
	clear: both;
	float: left;
	margin-right: 20px; }

.pledge-form #id_8 {
	clear: both;
	float: left;
	width: 310px;
	margin-right: 40px; }

.pledge-form .form-address-line {
	width: 310px; }

.pledge-form .form-address-city,
.pledge-form .form-address-state {
	width: 144px; }

.pledge-form #id_9 {
	float: left; }

.pledge-form #input_9,  
.pledge-form #input_25 { 
	width: 310px; }

.pledge-form #id_25 {
	float: left; }

.pledge-form #id_11 {
	clear: both; }

.pledge-form #id_11,
.pledge-form #id_19 {
	margin-top: 25px;
	padding-top: 15px;
	border-top: 1px solid $lighter-gray; }
