.horizontal li {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1; }

.no-list-style { list-style-type: none; }

.arrow {
	position: relative;
	bottom: 1px;
	font-size: $font-size-small; }

