// Modules
.module {
	position: relative;
	overflow: hidden;
	clear: both; }

// Highlight Module 
.highlight {
	text-align: center; }

.highlight-wrap { 		
		overflow: hidden;
		clear: both;		
		margin-left: -2em;
		padding: 0;	}

.highlight-unit {
  	position: relative;
  	overflow: visible;
  	float: left;
  	width: 33%;
  	height: 10em;
  	padding-left: 2em;
  	margin: 0 0 $base-spacing-unit*3;
  	@include breakpoint(bp6) { height: 9.5em; }
  	@include breakpoint(bp5) { height: 9em; }
  	@include breakpoint(bp4) { height: 10em; width: 50%; }
  	@include breakpoint(bp3) { height: 11em; }
  	@include breakpoint(bp2) { height: 11em; }
  	@include breakpoint(bp1) { height: 9.5em; } }
  	

.highlight-header {
	padding-top: $base-spacing-unit/2;
	font-size: $font-size-delta;	
	font-weight: 700;
	line-height: $line-height-lowest; }

// Header Bars
.header-bar {
	padding: .45em 1.125em .5em;
	font-weight: 700;
	font-size: $font-size-gamma;
	line-height: $line-height-lowest;
	color: white; }

.header-bar-red  { background: $main-red; }
.header-bar-gray { background: $mid-gray; }
.header-bar-gold { background: $gold; }

// Feature Boxes
.feature-box { 
	padding: .5em 1.125em .75em;
	:last-child {
		margin-bottom: 0; } }

.feature-box-gray { background: $light-gray; }
.feature-box-gold { background: $tan; }