// Modules
.module {
	position: relative;
	overflow: hidden;
	clear: both; }

.module-narrow  { margin-bottom: $base-spacing-unit*2; }
.module-main    { margin-bottom: $base-spacing-unit*4; }
.module-wide    { margin-bottom: $base-spacing-unit*6; }

//Header Bars
.header-bar {
	padding: .45em 1.125em .5em;
	font-weight: 700;
	font-size: $font-size-gamma;
	color: white; }

.header-bar-red  { background: $main-red; }
.header-bar-gray { background: $mid-gray; }
.header-bar-gold { background: $gold; }

// Feature Boxes
.feature-box { 
	padding: .5em 1.125em .75em;
	:last-child {
		margin-bottom: 0; } }

.feature-box-gray { background: $light-gray; }
.feature-box-gold { background: $tan; }