// Modules
.module {
	position: relative;
	overflow: hidden;
	clear: both; }

// Highlight Module 
.highlight {
	text-align: center;	
	@include breakpoint(bp2) {
	  width: 50%; 
		text-align: left;	} }

.highlight img {
	@include breakpoint(bp2) {
		float: left;
		width: 30%;
		overflow: hidden; } }

.highlight .header {}

// Header Bars
.header-bar {
	padding: .45em 1.125em .5em;
	font-weight: 700;
	font-size: $font-size-gamma;
	line-height: $line-height-lowest;
	color: white; }

.header-bar-red  { background: $main-red; }
.header-bar-gray { background: $mid-gray; }
.header-bar-gold { background: $gold; }

// Feature Boxes
.feature-box { 
	padding: .5em 1.125em .75em;
	:last-child {
		margin-bottom: 0; } }

.feature-box-gray { background: $light-gray; }
.feature-box-gold { background: $tan; }