// Responsive Breakpoints
// More info here: http://ahrengot.com/web-development/sass-breakpoint-mixin/
// And here: http://css-tricks.com/media-queries-sass-3-2-and-codekit/

$bp-tiny  : 360px;
$bp1  		: 480px;
$bp2 			: 600px;
$bp3 			: 800px;
$bp4 			: 900px;
$bp5 			: 1000px;
$bp6 			: 1100px;

@mixin breakpoint($point, $value: 0) {
	@if $point == bp-tiny {
		@media (min-width: $bp-tiny) { @content; }
	}

	@else if $point == bp1 {
		@media (min-width: $bp1) { @content; }
	}

	@else if $point == bp2 {
		@media (min-width: $bp2) { @content; }
	}

	@else if $point == bp3 {
		@media (min-width: $bp3) { @content; }
	}
	
	@else if $point == bp4 {
		@media (min-width: $bp4) { @content; }
	}

	@else if $point == bp5 {
		@media (min-width: $bp5) { @content; }
	}

	@else if $point == bp6 {
		@media (min-width: $bp6) { @content; }
	}
}

@mixin between-breakpoints($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}