// Responsive breakpoints
// More info here: http://ahrengot.com/web-development/sass-breakpoint-mixin/
// And here: http://css-tricks.com/media-queries-sass-3-2-and-codekit/

$bp0 	: 0em;
$bp1 	: 30em;
$bp2 	: 45em;
$bp3 	: 60em;
$bp4 	: 70em;

@mixin breakpoint($point, $value: 0) {
	@if $point == bp0 {
		@media (min-width: $bp0) { @content; }
	}

	@else if $point == bp1 {
		@media (min-width: $bp1) { @content; }
	}

	@else if $point == bp2 {
		@media (min-width: $bp2) { @content; }
	}

	@else if $point == bp3 {
		@media (min-width: $bp3) { @content; }
	}
	
	@else if $point == bp4 {
		@media (min-width: $bp4) { @content; }
	}
}

@mixin between-breakpoints($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}