.dean-thumb {
	position: relative;
	float: left;
	width: 35%;
	margin: .25em 1.5em 1.5em 0;
	@include breakpoint(bp1) {
		width: 25%;
		margin: .35em 1.25em 1.25em 0; }
	@include breakpoint(bp2) {
		width: 20%;
		margin: .35em 1.5em 1.5em 0; }
	@include breakpoint(bp3) {
		margin: .35em 1.75em 1.75em 0; } }

.profile-thumb {
	max-height: 198px;	
	max-width: 100%; }