.dean-thumb {
	position: relative;
	float: left;
	width: 35%;
	margin: .25em 1.5em 1.5em 0;
	@include breakpoint(bp1) {
		width: 25%;
		margin: .35em 1.25em 1.25em 0; }
	@include breakpoint(bp2) {
		width: 20%;
		margin: .35em 1.5em 1.5em 0; }
	@include breakpoint(bp3) {
		margin: .35em 1.75em 1.75em 0; } }

.profile-box-bp2 { 
	clear: left;
	@include breakpoint(bp2) { 
	  clear: none; } }

.profile-name {
	margin-top: .5em;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.15; }

.profile-title {
	margin-top: .2em;
	margin-bottom: .4em;
	font-style: italic;
	line-height: $line-height-lower; }