.dean-thumb {
	position: relative;
	float: left;
	width: 35%;
	margin: .25em 1.5em 1.5em 0;
	@include breakpoint(bp1) {
		width: 25%;
		margin: .35em 1.25em 1.25em 0; }
	@include breakpoint(bp2) {
		width: 20%;
		margin: .35em 1.5em 1.5em 0; }
	@include breakpoint(bp3) {
		margin: .35em 1.75em 1.75em 0; } }

.profile-box-bp2 { 
	clear: left;
	@include breakpoint(bp2) { 
	  clear: none; } }

.profile-name {
	margin-top: .5em;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.15; }

.profile-title {
	margin-top: .2em;
	margin-bottom: .4em;
	font-style: italic;
	line-height: $line-height-lower; }


// 'Did You Know?' Styles

.feat-arrow {
	float: left;
	margin-right: 7px;
  color: $main-red; }

.feat-arrow-content {
	overflow: hidden; }

.icon-question {
	position: absolute;
	bottom: -5px;
	right: -5px;
	width: 60px;
	height: 60px;
	background: url('../images/icon-question.svg') no-repeat;
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5; }

 /* SVG Fallback for non-supportive browsers */
.no-svg .icon-question { 
	background: url('../images/icon-question.png') no-repeat; }