//-------------------------------------------------------
// Font Families
$font-stack:  
	'Source Sans Pro', 	 
	'Helvetica Neue', 
	'HelveticaNeue-Light', 
	'Helvetica Neue Light',
	Helvetica, 
	Arial, 
	sans-serif;

// Font Sizes
$font-size-main     	: 1em;
$font-size-small 			: .95em; 
$font-size-smaller  	: .9em; 
$font-size-smallest 	: .8em;  

$font-size-alpha    	: 2.15em;
$font-size-beta     	: 1.5em;
$font-size-gamma    	: 1.25em;
$font-size-delta    	: 1.17em;
$font-size-epsilon  	: 1.1em;

// Line Heights
$line-height-main   	: 1.4;
$line-height-low-alt  : 1.3;
$line-height-low    	: 1.235;
$line-height-lower  	: 1.2;
$line-height-lowest 	: 1.1;
//-------------------------------------------------------

.bold   { font-weight: 700; }
.italic { font-style: italic; }
.upcase { text-transform: uppercase; }

h1 { 
	font-size: $font-size-alpha; 
	line-height: $line-height-lowest;  
	margin: 0 0 .5em; }

h2 { 
	font-size: $font-size-beta;  
	line-height: $line-height-lower;   
	margin: 0 0 .625em; } 

h3 { 
	font-size: $font-size-gamma; 
	line-height: $line-height-lower;   
	margin: 0 0 .625em; }

h4 { 
	font-size: $font-size-main;  
	line-height: $line-height-lowest;  
	margin: 0 0 .625em; }

.alpha 		{ font-size: $font-size-alpha; 	 line-height: $line-height-lowest; }
.beta 		{ font-size: $font-size-beta;  	 line-height: $line-height-lower;  }
.gamma 		{ font-size: $font-size-gamma;   line-height: $line-height-lower;  }
.delta 		{ font-size: $font-size-delta;   line-height: $line-height-lowest; }
.epsilon 	{ font-size: $font-size-epsilon; line-height: $line-height-lowest; }

.text-small    { font-size: $font-size-small; }
.text-smaller  { font-size: $font-size-smaller; }
.text-smallest { font-size: $font-size-smallest; }

.text-center { text-align: center; }
.text-right  { text-align: right; }

// Style H1 on interior pages
.page-header {
	padding-bottom: .25em;
	border-bottom: 1px solid $lighter-gray; }

// For intro copy on interior pages
.featured-text {
	font-size: $font-size-beta;
	font-weight: 300; }

// Subtext for things like dates or times
.subtext { 
	font-size: $font-size-small;
	margin-bottom: 0;
	padding-top: $base-spacing-unit/2; }

.subtext-alt {
	font-size: $font-size-smallest;
	color: $mid-gray-alt;
	padding-top: .4em; }