// Variables 
$font-stack:  
	'Source Sans Pro', 	 
	'Helvetica Neue', 
	'HelveticaNeue-Light', 
	'Helvetica Neue Light',
	Helvetica, 
	Arial, 
	sans-serif;

$line-height-main: 1.4;

// Font Sizes
$font-size-main     : 1em; 

$font-size-alpha    : 2.15em;
$font-size-beta     : 1.5em;
$font-size-gamma    : 1.17em;

$font-size-small 		: .95em; 
$font-size-smaller  : .9em; 
$font-size-smallest : .8em; 

// Styles
.bold   { font-weight: 700; }
.italic { font-style: italic; }
.upcase { text-transform: uppercase; }

h1, .alpha { font-size: $font-size-alpha; line-height: 1.1; }
h2, .beta  { font-size: $font-size-beta;  line-height: 1.2; } 
h3, .gamma { font-size: $font-size-gamma; line-height: 1.2; }
h4, .delta { font-size: $font-size-main;  line-height: 1.235; }

h1         { margin: 0 0 .5em;   }
h2, h3, h4 { margin: 0 0 .625em; }

.featured-text {
	color: $mid-gray-alt;
	font-size: $font-size-beta;
	font-weight: 300; }







