body {
	font-family: $font-stack;
	font-size: 1em;
	color: $text-color; }

p {
	line-height: $line-height-main; }

a {
	color: $link-color; 
  text-decoration: none;
  &:hover {
  	color: $text-color; } }


