// Control box model on all elements
// More info here: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// And here: http://css-tricks.com/box-sizing/
*,
*:after,
*:before {
	@include box-sizing(border-box); }

body {
	font-family: $font-stack;
	font-size: 1em;
	color: $text-color; 
  @include breakpoint(bp3) {
    font-size: 95%; } }

p {
	margin: 0 0 1.25em;
	line-height: $line-height-main; }

a {
	color: $link-color; 
  text-decoration: none;
  &:hover {
  	color: $text-color; } }

img {
	max-width: 100%; }

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid $lighter-gray;
   margin: 1.25em 0;
   padding: 0; }

