.social {	
	position: relative;
	overflow: hidden;
	width: 100%;
	font-family: 'icomoon';	
	font-size: 20px;	
	@include breakpoint(bp6) {  }		
	a:hover {
		opacity: .9;
		@include transition(ease-in-out .15s); } }

.social-icon {
	background: blue;		
	max-width: 20%;
	padding: 0;
	display: inline-block;
	zoom: 1; }

.icon-facebook { color: $facebook-blue; }
.icon-twitter  { color: $twitter-blue; }
.icon-linkedin { color: $linkedin-blue; }
.icon-youtube  { color: $youtube-red; }
.icon-flickr   { color: $flickr-blue; }