.social {	
	text-align: center;
	font-family: 'icomoon';	
	font-size: 43px;
	letter-spacing: -4px;	
	@include breakpoint(bp6) {  }
	a {			
		position: relative;	
		bottom: 0;
		display: inline-block;
		zoom: 1;
		letter-spacing: normal; } 
	a:hover {		
		bottom: 3px; } }

.icon-facebook { color: $facebook-blue; }
.icon-twitter  { color: $twitter-blue; }
.icon-linkedin { color: $linkedin-blue; }
.icon-youtube  { color: $youtube-red; }
.icon-flickr   { color: $flickr-blue; }