footer {
	margin-top: $base-spacing-unit*2;
	padding: 1.5em 0 0;
	background: $main-red;
	color: white;
	border-top: 10px solid $light-gray-alt;
	a {
		color: white;
		&:hover {
			color: white;
			text-decoration: underline;	} }
	ul {		
		font-weight: 300; }
	li {
		padding: 0 0 1px;	} }

.footer-headline {
	margin-bottom: .5em;
	font-size: $font-size-epsilon;
	font-weight: 700; }