footer {
	margin-top: $base-spacing-unit*2;
	padding: 1.5em 0 0;
	background: $main-red;
	color: white;
	border-top: 10px solid $light-gray-alt;
	a {
		color: white;
		&:hover {
			color: white;
			text-decoration: underline;	} }
	ul {		
		font-weight: 300; }
	li {
		padding: 0 0 1px;	} }

.footer-headline {
	margin-bottom: .5em;
	font-size: $font-size-epsilon;
	font-weight: 700; }

.footer-info {
	margin-top: -.5em;
	padding: 15px 0;
	border-top: 1px solid #c00000;
	font-size: .85em; }

.footer-info-list {	
	margin: 0;
	padding: 0;	
	@include breakpoint(bp3) {
		text-align: left; }
	li {		
		list-style-type: none;
		@include breakpoint(bp3) {
			display: inline;
			padding: 0 3% 0 0; } } }

.footer-info-separator {
	display: none; 
	@include breakpoint(bp3) {
		padding: 0 8px;
		display: inline; } }

.top-link {
	padding-bottom: 20px;
	font-weight: 700;
	font-size: $font-size-smaller;
	@include breakpoint(bp2) {
		display: none; } }