header { 
	position: relative;
	height: 100px; }

.logo {
	float: left;
	display: block;
	background: url('../images/logo-1.svg') no-repeat;
	width: 470px;
	height: 50px;
	margin-top: 24px; }

.utilities { float: right; }

.login {
	font-size: $font-size-smaller; 
	text-align: right;
  li {
  	padding-left: 8px; }
  a:hover {
  	border-bottom: 1px solid $text-color; } }

// Search 
.search-wrap { 
	position: relative;
	float: right; }

.search-bar {	
	position: relative;
	width: 220px;
	padding: 5px 10px;
	border: none;
	background: $lightest-gray;
	font-size: $font-size-smaller;
	color: $mid-gray-alt;
	@include border-radius(5px); }

.search-submit {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0; }