header { 
	position: relative;
	height: 100px; }

.logo {
	float: left;
	display: block;
	background: url('../images/logo-1.svg') no-repeat;
	width: 470px;
	height: 50px;
	margin-top: 24px; }

.no-svg .logo {
	background: url('../images/logo-1.png') no-repeat; }

.utilities { 
	float: right;
	display: none;
	@include breakpoint(bp3) {
		display: block;	} }

.login {
	margin-bottom: 6px;
	padding-top: 9px;
	font-size: $font-size-smaller; 

	text-align: right;
  li {
  	padding-left: 5px; } }

// Search 
.search-wrap { 
	position: relative;
	float: right; }

.search-bar {	
	position: relative;
	width: 220px;
	padding: 5px 11px;
	border: none;
	background: $lightest-gray;
	font-size: $font-size-smaller;
	color: $mid-gray-alt;
	@include border-radius(5px);	
  &:focus {
  	outline: none; } }

.search-bar::-ms-clear { 
	// Disable 'X' from appearing in search bar in IE10. Info here: http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs
	display: none; } 

.search-submit {
	position: absolute;
	z-index: 100;
	top: 3px;
	right: 2px;
	height: 20px; }

.search-wrap input[type='submit'] {	
	background: url('../images/icon-search.svg') no-repeat;
	height: 14px;
	width: 14px;
	margin-right: 10px;
	margin-top: 4px;
	text-indent: -9999px; /* Push 'Search' text off screen */
	border: none;	
	color: $mid-gray-alt; }

.no-svg .search-wrap input[type='submit'] {	
	background: url('../images/icon-search.png') no-repeat; }