// Responsive Nav (responsive-nav.js 1.0.23 by @viljamis)

.nav-container {
  clear: both;
	min-height: 50px;
	margin-bottom: $base-spacing-unit*4;
	background: $main-red;
	@include breakpoint(bp3) {
		height: 50px;	} }

.nav-collapse {
  clear: both;
	font-weight: 700;
	font-size: $font-size-main;
	color: white;			
	text-align: left;
	@include breakpoint(bp3) { 
		text-align: center; }	
	ul {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  list-style: none;
  @include breakpoint(bp3) {
  	margin: 0; } }
  li {
  width: 100%;
  display: block;
  border-top: 1px solid white;
  padding: 10px 0;  
  @include breakpoint(bp3) { 
  	display: inline;
  	margin: 0 1.6%;
    padding: 0;
    border-top: none; } }
	a {
		color: white;
		&:hover, &:active {
			color: white;
			text-decoration: underline; }	} }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.top-nav {
	padding: 14px 0 10px; }

.nav-toggle {    
  position: relative;
  top: -2px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

a.nav-toggle {
  background: url('../images/icon-menu.svg') no-repeat 0 4px;  
  padding-left: 27px;
	color: white;
  font-size: 20px;
  font-weight: 700;
  &:hover, &:active {
  	color: white;
  	text-decoration: none; } }

.no-svg a.nav-toggle {
  background: url('../images/icon-menu.png') no-repeat 0 4px; }

.first-time-login {
  padding-left: 5px; }

@media screen and (min-width: $bp3) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; } 
}


// Search below breakpoint 3

.search-toggle {
  float: right;  
  margin-top: -4px;
  @include breakpoint(bp3) { 
    display: none; } }

.search-toggle input[type=search] {
  outline: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  &:focus {
    outline: none; }

  background: url('../images/icon-search-large.svg') no-repeat 5px center;
  border: none;
  padding: 6px 7px 6px 32px;
  width: 24px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.no-svg .search-toggle input[type=search] { 
  background: url('../images/icon-search-large.png') no-repeat 5px center; }

.search-toggle input::-webkit-search-decoration,
.search-toggle input::-webkit-search-cancel-button {
  display: none; }

.search-toggle input:-moz-placeholder {
  color: transparent; }

.search-toggle input::-webkit-input-placeholder {
  color: transparent; }

.search-toggle input[type=search] {
  width: 16px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer; }

.search-toggle input[type=search]:hover {
  background-color: #800000; }

.search-toggle input[type=search]:focus {
  background: url('../images/icon-search-large-gray.svg') no-repeat 5px center;
  width: 100px;
  padding-left: 35px;
  color: #000;
  background-color: #fff;
  cursor: auto; }

.no-svg .search-toggle input[type=search]:focus {
  background: url('../images/icon-search-large-gray.png') no-repeat 5px center; }