nav {
	height: 50px;
	margin-bottom: $base-spacing-unit * 4;
	background: $main-red;
	font-weight: 700;
	font-size: $font-size-main;
	color: white;	
	text-align: center;
	ul {
		margin: 0;
		padding: 14px 0 0;
		list-style-type: disc; }
	li {
		padding: 0 1.6%;	}
	a {
		color: white;
		&:hover, &:active {
			color: white;
			border-bottom: 1px solid white;	}	} }



