.slider {
  position: relative; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  ul {
    margin: 0;
    padding: 0; } }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.rslides_nav {
  display: block;
  position: absolute;
  z-index: 5;
  bottom: 14px;
  right: 15px;
  font-size: 28px;
  color: $light-gray-alt;
  &:hover, &:active {
    color: $bright-red; } }

.rslides_nav.prev { 
    margin-right: 25px; } 

.caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: $font-size-main;
  line-height: $line-height-low-alt;
  text-shadow: none;
  color: #fff;
  background: #222;
  background: rgba(0,0,0, .9);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20% 10px 20px;
  margin: 0;
  max-width: none; }

a.caption-link {
  margin-left: 2px;
  color: $bright-red;
  font-weight: 700;
  &:hover, &:active {
    color: white; } }